#nav-bar {
  position: fixed;
  background: #00a087;
  width: 100%;
  height: 80px;
  color: #e8fdff;
  top: 0;
  padding: 0 2em;
  float:left;
  border-bottom: solid 3px teal;
  z-index: 100;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin: 0 10px;
}
#nav-bar .header {
  position: absolute;
  height: 80px;
  font-size: 200%;
  line-height: 80px;
}
